/*********** Start Section Down App ***********/
.install-app {
    padding: 50px 0px;
    background-color: #eee;
    fill: #fff;
    background-size: 500px;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' fill-opacity='1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgba(255,255,255,1)} %3C/style%3E%3Ccircle class='st0' cx='87.5' cy='46.5' r='8.5'/%3E%3Ccircle class='st0' cx='94.5' cy='124.5' r='15.5'/%3E%3Ccircle class='st0' cx='244.5' cy='91.5' r='21.5'/%3E%3Ccircle class='st0' cx='348.5' cy='80.5' r='7.5'/%3E%3Ccircle class='st0' cx='155' cy='356' r='10'/%3E%3Ccircle class='st0' cx='422' cy='139' r='14'/%3E%3Ccircle class='st0' cx='123' cy='251' r='6'/%3E%3Ccircle class='st0' cx='280' cy='204' r='11'/%3E%3Ccircle class='st0' cx='315' cy='311' r='11'/%3E%3Ccircle class='st0' cx='262' cy='411' r='6'/%3E%3Ccircle class='st0' cx='455.5' cy='395.5' r='12.5'/%3E%3Ccircle class='st0' cx='432' cy='500' r='25'/%3E%3Ccircle class='st0' cx='432' r='25'/%3E%3Ccircle class='st0' cx='-3.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='496.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='96' cy='437' r='3'/%3E%3C/svg%3E");
}

.install-app .box-img {
    width: 300px;
    height: 400px;
    margin: auto;
}

.install-app .box-img img {
    width: 100%;
    height: 100%;
}

.btn-app {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
}

.content {
    margin-top: 50px;
    text-align: center;
    font-size: 14px !important;
    color: #555;
}

/*********** Start Section Down App ***********/
.install-app {
    padding: 50px 0px;
    background-color: #eee;
    fill: #fff;
    background-size: 500px;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' fill-opacity='1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgba(255,255,255,1)} %3C/style%3E%3Ccircle class='st0' cx='87.5' cy='46.5' r='8.5'/%3E%3Ccircle class='st0' cx='94.5' cy='124.5' r='15.5'/%3E%3Ccircle class='st0' cx='244.5' cy='91.5' r='21.5'/%3E%3Ccircle class='st0' cx='348.5' cy='80.5' r='7.5'/%3E%3Ccircle class='st0' cx='155' cy='356' r='10'/%3E%3Ccircle class='st0' cx='422' cy='139' r='14'/%3E%3Ccircle class='st0' cx='123' cy='251' r='6'/%3E%3Ccircle class='st0' cx='280' cy='204' r='11'/%3E%3Ccircle class='st0' cx='315' cy='311' r='11'/%3E%3Ccircle class='st0' cx='262' cy='411' r='6'/%3E%3Ccircle class='st0' cx='455.5' cy='395.5' r='12.5'/%3E%3Ccircle class='st0' cx='432' cy='500' r='25'/%3E%3Ccircle class='st0' cx='432' r='25'/%3E%3Ccircle class='st0' cx='-3.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='496.5' cy='240.5' r='10.5'/%3E%3Ccircle class='st0' cx='96' cy='437' r='3'/%3E%3C/svg%3E");
}

.install-app .box-img {
    width: 300px;
    height: 400px;
    margin: auto;
}

.install-app .box-img img {
    width: 100%;
    height: 100%;
}

.btn-app {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
}

.content {
    margin-top: 50px;
    text-align: center;
}
.description{
    text-transform: lowercase;
    font-size: 18px !important;
}
.btn-down {
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 2px #d4d4d4, -1px -1px 2px #d4d4d4;
    margin: 10px 0px;
    background-color: var(--mainBlack);
    color: var(--mainWhite);
}

.btn-down.btn-google {
    margin-left: 0px;
}

@media screen and (min-width: 800px) {
    .content {
        margin-top: 50px;
        float: left;
        text-align: left;
    }

    .content p {
        font-size: 23px;
        float: left;
    }

    .btn-down {
        border: none;
        height: 50px;
        border-radius: 5px;
        width: 190px;
        box-shadow: 1px 1px 2px #d4d4d4, -1px -1px 2px #d4d4d4;
       
    }
    .btn-down.btn-google {
        margin: 10px 0px 10px 10px;
    }
    .btn-google{
        margin-left: 10px !important;
    }
}
